body {
    background-image: linear-gradient(white, black);
}


h1 {
    color: black;
    font-family: Aerial, "Comic Sans", Calibri;
    font-size: 3em;
    text-align: center;  /* This will help you align elements to the center */
}

h2 {
    color: white;
    font-family: Aerial, "Comic Sans", Calibri;
    font-size: 4em;
    text-align: center;
}

p {
    color: black;
}

#container {
    color: yellow;
}

.accent {
    background-color:yellow;
    color: black;
}

body main div {
    color: white;
}

footer {
    background-color: rgb(21, 4, 154);
    color: #fff9f9;
}

main {
    background-color: green;
}

header img {
    width: 10%; /*This stretches the image across the viewport. */
    height: auto; /* The height will change based on the size of the viewport */
}

nav {
    background: white;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    margin-bottom: 1em;
    border-radius: 1.0em; /* This rounds the corners of the elemens. */

    font-weight: bold;
    text-align: center;
}

nav ul {
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

nav ul li {
    background-color: black;
    padding: 1em;
    min-width: 12%;
    margin: .25em;
    list-style-type: none; /*This removes the bullet points. */
}

figure {
    text-align: center;
    background-color: white;
}

figure img {
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: auto;
}

/* This anchor tag will remove the colour in the hyperlink and changig it to white. */
nav ul li a {
    color: white;
    text-decoration: none; /* This removes the underline from the hyperlink. */
}

main {
    background: white;
    margin-top: 1em;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black; 
    margin-bottom: 1em; /* This places some space between elements */
    border-radius: 1.0em; /* This rounds the corners of the elemens. */
}

footer {
    background: white;
    margin-top: 1em;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    border-radius: 1.0em; /* This rounds the corners of the elemens. */
}

/* Begin mobile. */
@media screen and (max-width: 640px) {
    nav ul li {
        border-radius: 1em;
    }
}
/* end mobile. */

/* Begin tablet. */
/* Changing the nav bar to horizotal. */
@media screen and (min-width: 640px) {
    nav ul li {
        display: inline-block; /*This lists items horizontal. */
        border-radius: 1em;
    }
}
/* end tablet. */

/* Begin Desktop. */
/* Changing the nav bar to horizotal. */
@media screen and (min-width: 960px) {
    
    header {
        text-align: left;
    }

    header img {
        width: auto;
        height: 10em;
    }

    nav {
        margin-top: 0.5em;
        width: 60%
        float: center;
    }

    nav ul li {
        display: inline-block; /*This lists items horizontal. */
        border-radius: 1em;
        margin-top: 0.5em;
    }
}
/* end Desktop. */