/* Begin mobile. */
@media screen and (max-width: 640px) {
    nav {
        border-radius: 1.0em;
    }
    
    nav ul li {
        border-radius: 1em;
    }

    .tablet {
        display: none;
    }

    
    .desktop {
        display: none;
    }
}
/* end mobile. */